
body {
  margin: 100px;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: background-color 1s ease-in-out, background 1s ease-in-out;
}

video{
  border-radius: 20px; 
  transform: scaleX(-1);
  margin-top: 35px; 
  margin-bottom: 35px; 
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}


.textsec{
  text-align: center; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-size: 20px;
  color: beige; 
}

.suggestsec{
  text-align: center; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-size: 20px;
  color: beige; 
}

canvas {
  position: absolute;
}

.happy{
  display: none; 
}

.sad{
  display: none; 
}

.angry{
  display: none; 
}

.neutral{
  display: none; 
  /*display : block; --> to show */
}

.surprised{
  display: none; 
}


/* Make the text wavy */
@keyframes wave {
0%, 100% {
  transform: translateY(0);
}
25% {
  transform: translateY(-5px);
}
50% {
  transform: translateY(5px);
}
75% {
  transform: translateY(-5px);
}
}

h2 {
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; /* Example: cool font */
font-size: 5rem; /* Adjust size as needed */
font-weight: bold; /* Make it thick */
color: #ffffff; /* Set text color */
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add shadow for depth */
-webkit-text-stroke: 2px beige; /* Add border around letters */
text-align: center;
animation: wave 2s infinite; /* Apply wavy animation */
margin: 10px 0; /* Add space around the text */
}

h3{
color: beige; 
margin-left: 200px;
margin-right: 200px;
}


#particles-js {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1; /* Ensures particles stay behind other content */
}

/* Default styles for emotions */
body.happy {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
}
body.sad {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
}
body.angry {
  background: linear-gradient(to right, #f83600, #f9d423);
}
body.surprised {
  background: linear-gradient(to right, #ffecd2, #fcb69f);
}
body.neutral {
  background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

#countdown-container {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-size: 20px;
  color: beige;
  text-align: center;
  margin-top: 20px;
}